@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  margin: 0;
  padding: 0;

}

body {
  font-family: "inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #FEAFC3;
  width: 1170px;
  margin: 0 auto;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.sticki-main {
  flex: 1;
  width: 1170px;
}

.page-header {
  min-height: 104px;
  display: flex;
  padding: 22px 0;
  box-sizing: border-box;
  width: 1170px;
}

.logo-image {
  width: 137px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  color: #2D3440;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 20px;
}

.navigation-link:hover,
.navigation-user-link:hover
{
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}
.navigation-link:focus,
.navigation-user-link:focus
{
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  border-radius: 30px;
}
.navigation-link:active,
.navigation-user-link:active
{
  background: #FCFCFC;
  border-radius: 30px;
}


.navigation-user-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  gap: 16px;
}

.navigation-user-link {
  color: #2D3440;
  text-decoration: none;
  padding: 5px 16px 6px 38px;
  display: block;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  max-width: 200px;
}
.navigation-search-svg{
  display: block;
  padding: 8px;
}
.navigation-user-search {
  min-width: 32px;
  min-height: 32px;
  box-sizing: border-box;
  padding: 0;
  background-color: rgba(252, 252, 252, 0.3);
}

.navigation-user-item:nth-of-type(3) .navigation-user-link::after,
.navigation-user-item:nth-of-type(4) .navigation-user-link::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--img-header);
  left: 14px;
  top: 6px;
}
.navigation-log-in-svg{
  position: absolute;
  left: 14px;
  top: 6px;
}

.navigation-user-basket {
  --img-header: url("../image/icon/cart.svg")
}

.navigation-user-tel {
  background: inherit;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  font-weight: 700;
  padding-right: 3px;
}
.navigation-link-active,
.navigation-user-link-active{
  color:#FCFCFC;
  background-color: #FF4A78;
  border-radius: 30px;
}
.header-main {
  min-height: 554px;
  box-sizing: border-box;
  padding-bottom: 80px;
  padding-top: 21px;
  position: relative;
}

.slider-bar {
  position: absolute;
  top: 255px;
  left: 542px;
  justify-content: space-between;
  display: flex;
  width: 350px;
}

.slider-bar::after {
  content: "";
  position: absolute;
  background: #FFCBD8;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.slider-button {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  background: url("../image/icon/arrow-left.svg") no-repeat center;
  width: 38px;
  height: 38px;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
}

.slider-next {
  transform: rotate(180deg);
}

.product-ad-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-ad-item {
  display: flex;
}

.product-ad-block {
  margin: auto 0;
  max-width: 470px;
  padding-left: 70px;
  padding-right: 63px;
}

.product-ad-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
}

.product-ad-text {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  padding-bottom: 46px;
}

.product-ad-button {
  width: 139px;
  height: 44px;
}

.button {
  background-color: #FCFCFC;
  border: 4px solid rgba(248, 243, 243, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  background-clip: padding-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.product-ad-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product-ad-pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}

.product-ad-pagination-button {
  background: #FCFCFC;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: none;
  opacity: 0.4;
}

.product-ad-pagination-button-active {
  opacity: 1;
}

.pagination-ad-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
  padding-right: 1px;
  box-sizing: border-box;
  align-self: flex-start;
}

.pagination-ad-link {
  width: 24px;
  height: 24px;
  display: block;
  color: inherit;
  background-color: inherit;
}

.pagination-ad-svg {
  color: #FCFCFC;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid rgba(252, 252, 252, 0.3);
  box-sizing: border-box;
}

.discount {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 570px 570px;
  row-gap: 55px;
  column-gap: 30px;
  padding-bottom: 81px;
}

.discount-title {
  padding: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  max-width: 440px;
  margin: 0 auto;
  text-align: center;
  flex-grow: 2;
  grid-area: 1 / 1 / 2 / 3;
}

.discount-block {
  background: #FF7799;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 36px;
  gap: 28px;
  width: 570px;
  min-height: 268px;
  box-sizing: border-box;
  position: relative;
}

.discount-block-title {
  max-width: 328px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.discount-block-text {
  max-width: 328px;
  margin: 0;
  padding: 0;
}

.discount-button {
  width: 176px;
  height: 44px;
}

.discount-block:first-of-type::before {
  content: "";
  background: url(../image/backgrounds/rastberry.jpg) no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 219px;
  height: 268px;
}

.discount-block:nth-of-type(2)::before {
  content: "";
  background: url(../image/backgrounds/marshmello.jpg) no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 219px;
  height: 268px;
}

.popular {
  padding-bottom: 80px;
}

.popular-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  max-width: 530px;
  margin: 0 auto;
  padding-bottom: 55px;
}

.popular-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.popular-block {
  width: 270px;
  min-height: 281px;
  position: relative;
  padding: 132px 40px 10px 40px;
  box-sizing: border-box;
  background-color: #FCFCFC;
  border-radius: 8px;
  margin-top: auto;
}

.popular-block-image {
  display: inline-block;
  position: absolute;
  top: -52px;
}

.popular-item {
  padding-top: 51px;
}

.popular-block-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 12px;
}

.popular-block-text {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 13px;
}

.popular-block-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-block-price {
  padding-top: 1px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: auto;
}

.popular-block-button {
  background: #FF2F64;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: none;
  display: inline-block;
  position: relative;
}

.properties {
  background: url("../image/border/wafle.png") no-repeat;
  padding: 24px;
  box-sizing: border-box;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 80px;
}

.properties-contanier {
  padding: 56px 40px 50px;
  min-height: 432px;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 16px;
}

.properties-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  padding-bottom: 59px;
}

.properties-list {
  display: grid;
  grid-template-columns: 505px 505px;
  row-gap: 40px;
  column-gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.properties-text {
  margin: 0;
  padding: 0;
  padding-left: 64px;
  position: relative;
}

.properties-text:after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background: var(--img) no-repeat center / 32px;
  border: 2px solid #2D3440;
  border-radius: 50%;
  left: 0;
  top: -2px;
  box-sizing: border-box;
}

.property-ice:after {
  --img: url("../image/icon/ice-cream.svg");
}

.property-cow {
  --img: url("../image/icon/cow.svg");
}

.property-leaves {
  --img: url("../image/icon/leaf.svg");
}

.roperty-thermometer {
  --img: url("../image/icon/thermometer.svg");
}

.news {
  display: grid;
  gap: 30px;
  grid-template-columns: 570px 570px;
  padding-bottom: 80px;
}

.news-info {
  border-radius: 16px;
  background-color: #FFFFFF;
  min-height: 224px;
  background-size: 115%;
  background-image: url("../image/backgrounds/news_info.png");
  background-repeat: no-repeat;
  background-position: right -75px bottom -106px;
  box-sizing: border-box;
  padding: 34px 31px;
}

.news-info-title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 12px;
}

.news-info-text {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  max-width: 303px;
}

.new-follow-wrapper {
  background: url("../image/border/mail.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right -5px top;
  border-radius: 16px;
  padding: 6px;
  box-sizing: border-box;
  min-height: 224px;
}

.news-follow {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 26px;
  padding-top: 29px;
  box-sizing: border-box;
  width: 558px;
  height: 212px;
}

.news-follow-text {
  margin: 0;
  padding: 0;
  padding-bottom: 41px;
}

.mailing-input {
  width: 332px;
  height: 48px;
  padding: 14px 16px;
  box-sizing: border-box;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  margin-right: 11px;
}

.mailing-input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
}

.mailing-button {
  background: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  width: 158px;
  height: 52px;
  color: #FCFCFC;
  background-clip: padding-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
}

.deliver {
  min-height: 534px;
  background-image: url("../image/backgrounds/deliver.png");
  background-repeat: no-repeat;
  background-size: 105%;
  background-position: top -140px right -4px;
  transform: scale(-1, 1);
  padding: 64px;
  box-sizing: border-box;
  margin-bottom: 80px;
  border-radius: 16px;
}

.mirror-wrapper {
  transform: scale(-1, 1);
  display: flex;
  gap: 132px;
}

.deliver-info {
  max-width: 375px;
  margin: auto 0 auto auto;
}

.deliver-info-title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  padding-bottom: 24px;
  padding-top: 5px;
}

.deliver-info-text {
  margin: 0;
  padding: 0;
}

.deliver-form-block {
  width: 500px;
  min-height: 406px;
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  box-sizing: border-box;
  padding: 42px 40px 30px 40px;
}

.deliver-form-text {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
}

.deliver-form {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 117px 287px;
  grid-template-rows: 76px 76px auto;
  row-gap: 20px;
  column-gap: 16px;
}

.deliver-label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  justify-content: flex-end;
  position: relative;
}

.date-label:after,
.adres-label:after {
  content: "";
  position: absolute;
  background: url("../image/icon/Info.svg") no-repeat center;
  width: 14px;
  height: 14px;
  top: 3px;
  left: 44px;
  box-sizing: border-box;

}

.adres-label:after {
  left: 56px;
}

.deliver-input {
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  height: 48px;
  box-sizing: border-box;
  padding: 14px 16px;
  margin-top: 7px;
}

.deliver-input::placeholder {
  color: #B9B9B9;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.adres-label {
  grid-area: 2/1/3/3;
}

.deliver-form-button {
  grid-area: 3/2/4/3;
  background: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgb(45 52 64 / 10%);
  border-radius: 26px;
  width: 158px;
  height: 52px;
  color: #FCFCFC;
  background-clip: padding-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  margin-top: 8px;
}

.about-us {
  border-radius: 16px;
  width: 1170px;
  height: 492px;
  background: url("../image/backgrounds/about_us.jpg") no-repeat;
  background-position: bottom -83px right;
  background-size: cover;
  box-sizing: border-box;
  padding: 64px;
}

.about-us-block {
  background: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  width: 343px;
  min-height: 364px;
  box-sizing: border-box;
  padding: 40px;
  padding-bottom: 20px;
}

.about-us-title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  padding-bottom: 9px;
  padding-top: 3px;
}

.about-us-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
  display: block;
}

.about-us-adress {
  margin-bottom: 24px;
}

.under-tel {
  display: block;
  color: #565C66;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: auto;
}

.about-us-button {
  background: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgb(45 52 64 / 10%);
  border-radius: 26px;
  width: 250px;
  height: 52px;
  color: #FCFCFC;
  background-clip: padding-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  margin-top: 29px;
}

.index-footer {
  padding-top: 43px;
  padding-left: 1px;
  box-sizing: border-box;
  display: flex;
  padding-bottom: 48px;
}

.footer-pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 12px;
  max-width: 150px;
  padding-right: 20px;
  flex-wrap: wrap;
  margin-right: auto;
}

.about-us-footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: min-content minmax(126px, 182px);
  max-width: 400px;
  grid-auto-rows: 20px;
  column-gap: 24px;
  row-gap: 8px;
  padding-top: 2px;
  padding-right: 200px;
}

.about-us-footer-item {
  width: max-content;
}

.about-us-footer-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  display: block;
}

.footer-rec {
  position: relative;
  font-weight: 700;
}

.footer-rec:after {
  content: "";
  position: absolute;
  background: url("../image/icon/footer-heart.svg");
  left: -23px;
  top: 3px;
  width: 14px;
  height: 12px;
}

.create-with {
  padding-right: 15px;
  padding-top: 1px;
}

.create-with-link-svg {
  display: block;
  width: min-content;
}

.create-with-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  padding: 0;

}

.create-with-link {
  color: #2D3440;
}

/* catalog ptoduct */

.breadcrums {
  width: 1170px;
  padding-top: 30px;
  box-sizing: border-box;
  padding-bottom: 40px;
}

.breadcrums-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  list-style: none;
  gap: 28px;
}

.breadcrums-item {
  position: relative;
}

.breadcrums-link {
  text-decoration: none;
  color: #2D3440;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.breadcrums-item + .breadcrums-item::after {
  position: absolute;
  content: "";
  background: url("../image/icon/chevrons-right.svg");
  width: 12px;
  height: 12px;
  left: -19px;
  top: 6px;
}

.breadcrums-title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.sorting-block {
  margin-bottom: 43px;
}

.sorting-form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
}

.sorting-wrapper {
  border: none;
  margin: 0;
  padding: 0;
}

.sorting-select {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  background: rgba(252, 252, 252, 0.3);
  border: none;
  height: 36px;
  border-radius: 18px;
  width: 196px;
  box-sizing: border-box;
  padding: 8px 13px;
  margin-right: 24px;
}

.range {
  position: relative;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  width: 196px;
  height: 36px;
  margin-right: 24px;
}

.range-scale {
  width: 164px;
  height: 2px;
  background-color: rgb(86, 92, 102, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.range-bar {
  position: absolute;
  width: 75px;
  height: 2px;
  background-color: #565C66;
  z-index: 1;
  left: 31px;
}

.range-toggle {
  position: absolute;
  background: #2D3440;
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  border-radius: 50%;
  top: -7;
  cursor: pointer;
}

.range-toggle::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 4px;
  background: #FCFCFC;
  border-radius: 50%;
}

.range-min {
  left: -7;
}

.range-max {
  right: -7;
}

.sorting-title {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.calatog-filter-list {
  margin: 0;
  padding: 9px 24px;
  list-style: none;
  display: flex;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  min-width: 383px;
  height: 36px;
  align-items: center;
  box-sizing: border-box;
}

.catalog-input-text {
  padding-left: 24px;
  padding-right: 17px;
  line-height: 20px;
  font-size: 14px;
}

.catalog-filter-item:last-of-type .catalog-input-text {
  padding-right: 0;
}

.filter-checkbox {
  padding: 9px 24px;
  height: 40px;
}

.fillter-button {
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  background: rgba(252, 252, 252, 0.3);
  min-width: 190px;
  height: 38px;
  margin: auto 16px 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.gallary-product {
  padding-bottom: 30px;
}

.product-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  column-gap: 30px;
  row-gap: 40px;
}

.product-block {
  width: 270px;
  min-height: 281px;
  position: relative;
  padding: 132px 40px 10px 40px;
  box-sizing: border-box;
  background-color: #FCFCFC;
  border-radius: 8px;
  margin-top: auto;
}

.product-block-image {
  display: inline-block;
  position: absolute;
  top: -52px;
}

.product-item {
  padding-top: 51px;
}

.product-block-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 10px;
}

.product-block-text {
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 13px;
}

.product-block-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-block-price {
  padding-top: 1px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: auto;
}

.product-block-button {
  background: #FF2F64;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: none;
  display: inline-block;
  position: relative;
}

.product-svg-button {
  color: #FCFCFC;
}

.catalog-pagination-wrapper {
  display: flex;
  height: 126px;
  align-items: flex-start;
  max-width: 1170px;
  padding-top: 26px;
  padding-bottom: 4px;
}

.catalog-pagination-button {
  background: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  background-clip: padding-box;
  width: 185px;
  height: 49px;
  margin: 0 AUTO 0 485PX;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
}

.catalog-pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 168px;
  padding-top: 10px;
  margin-right: 8px;
}

.catalog-paginalion-item:last-of-type .catalog-pagination-arrow {
  transform: rotate(180deg);
  margin-right: -8px;
}

.catalog-pagination-link {
  width: 24px;
  height: 24px;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  display: block;
  text-align: center;
  box-sizing: border-box;
  padding-top: 4px;
  text-decoration: none;
}
.catalog-pagination-link-active{
  width: 24px;
  height: 24px;
  background: #FCFCFC;
  border-radius: 50%;
}
.catalog-pagination-arrow {
  width: 16px;
  height: 16px;
  background: url(../image/icon/arrow-left.svg) no-repeat center;
  display: block;
  padding: 22px 4px 4px;
  margin: 0 8px;
  cursor: pointer;

}












.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
